:root {
    --font-family-h1: Poppins-SemiBold;
    --font-family-h2: Poppins-SemiBold;
    --font-family-h3: Poppins-Medium;
    --font-family-h4: Poppins-Medium;
    --font-family-h5: Poppins-Medium;
    --font-family-h6: Poppins-Medium;

    --font-family-body-lg: Inter-Medium;
    --font-family-body-md: Inter-Regular;
    --font-family-body-sm: Inter-Regular;
}

:root {
    --btn-height-lg: 56px;
    --btn-height-md: 40px;
    --btn-height-sm: 32px;
    --btn-height-xs: 24px;

    --btn-icon-lg: 28px;
    --btn-icon-md: 24px;
    --btn-icon-sm: 20px;

    --ipt-height-lg: 56px;
    --ipt-height-md: 40px;
    --ipt-height-sm: 32px;

    --border-radius-lg: 12px;
    --border-radius-md: 8px;
    --border-radius-sm: 4px;

    --avatar-size-xxl: 160px;
    --avatar-size-xl: 80px;
    --avatar-size-lg: 56px;
    --avatar-size-md: 40px;
    --avatar-size-sm: 32px;

    --icon-size-sm: 16px;
    --icon-size-md: 24px;
    --icon-size-lg: 32px;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    src: url('../fonts/Inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Regular';
    font-style: normal;
    src: url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Google-Icons';
    font-style: normal;
    src: url('../fonts/GoogleIcons/MaterialSymbolsOutlined-Regular.ttf') format('truetype');
}

:root {
    --blue-50: #f4fafe;
    --blue-100: #cae6fc;
    --blue-200: #a0d2fa;
    --blue-300: #75bef8;
    --blue-400: #4baaf5;
    --blue-500: #2196f3;
    --blue-600: #1c80cf;
    --blue-700: #1769aa;
    --blue-800: #125386;
    --blue-900: #0d3c61;
    --green-50: #f7faf5;
    --green-100: #dbe8cf;
    --green-200: #bed6a9;
    --green-300: #a1c384;
    --green-400: #85b15e;
    --green-500: #689f38;
    --green-600: #588730;
    --green-700: #496f27;
    --green-800: #39571f;
    --green-900: #2a4016;
    --yellow-50: #fffcf5;
    --yellow-100: #fef0cd;
    --yellow-200: #fde4a5;
    --yellow-300: #fdd87d;
    --yellow-400: #fccc55;
    --yellow-500: #fbc02d;
    --yellow-600: #d5a326;
    --yellow-700: #b08620;
    --yellow-800: #8a6a19;
    --yellow-900: #644d12;
    --cyan-50: #f2fcfd;
    --cyan-100: #c2eff5;
    --cyan-200: #91e2ed;
    --cyan-300: #61d5e4;
    --cyan-400: #30c9dc;
    --cyan-500: #00bcd4;
    --cyan-600: #00a0b4;
    --cyan-700: #008494;
    --cyan-800: #006775;
    --cyan-900: #004b55;
    --pink-50: #fef4f7;
    --pink-100: #fac9da;
    --pink-200: #f69ebc;
    --pink-300: #f1749e;
    --pink-400: #ed4981;
    --pink-500: #e91e63;
    --pink-600: #c61a54;
    --pink-700: #a31545;
    --pink-800: #801136;
    --pink-900: #5d0c28;
    --indigo-50: #f6f7fc;
    --indigo-100: #d5d9ef;
    --indigo-200: #b3bae2;
    --indigo-300: #919cd5;
    --indigo-400: #707dc8;
    --indigo-500: #4e5fbb;
    --indigo-600: #42519f;
    --indigo-700: #374383;
    --indigo-800: #2b3467;
    --indigo-900: #1f264b;
    --teal-50: #f2faf9;
    --teal-100: #c2e6e2;
    --teal-200: #91d2cc;
    --teal-300: #61beb5;
    --teal-400: #30aa9f;
    --teal-500: #009688;
    --teal-600: #008074;
    --teal-700: #00695f;
    --teal-800: #00534b;
    --teal-900: #003c36;
    --orange-50: #fffaf2;
    --orange-100: #ffe6c2;
    --orange-200: #ffd391;
    --orange-300: #ffbf61;
    --orange-400: #ffac30;
    --orange-500: #ff9800;
    --orange-600: #d98100;
    --orange-700: #b36a00;
    --orange-800: #8c5400;
    --orange-900: #663d00;
    --bluegray-50: #f7f9f9;
    --bluegray-100: #d9e0e3;
    --bluegray-200: #bbc7cd;
    --bluegray-300: #9caeb7;
    --bluegray-400: #7e96a1;
    --bluegray-500: #607d8b;
    --bluegray-600: #526a76;
    --bluegray-700: #435861;
    --bluegray-800: #35454c;
    --bluegray-900: #263238;
    --purple-50: #faf4fb;
    --purple-100: #e7cbec;
    --purple-200: #d4a2dd;
    --purple-300: #c279ce;
    --purple-400: #af50bf;
    --purple-500: #9c27b0;
    --purple-600: #852196;
    --purple-700: #6d1b7b;
    --purple-800: #561561;
    --purple-900: #3e1046;
    --red-50: #fef6f5;
    --red-100: #fcd2cf;
    --red-200: #faaea9;
    --red-300: #f88a82;
    --red-400: #f6675c;
    --red-500: #f44336;
    --red-600: #cf392e;
    --red-700: #ab2f26;
    --red-800: #86251e;
    --red-900: #621b16;
    --primary-50: #f5f6fb;
    --primary-100: #d1d5ed;
    --primary-200: #acb4df;
    --primary-300: #8893d1;
    --primary-400: #6372c3;
    --primary-500: #3f51b5;
    --primary-600: #36459a;
    --primary-700: #2c397f;
    --primary-800: #232d64;
    --primary-900: #192048;
}
